<div class="container">
  <div class="row">
  	<div class="col-lg-3">
  	  <%= render 'books/user_menu', book: @book, user: current_user %>
      <%# ↑部分テンプレ %>
  	</div>
  	<div class="col-lg-9">
  	  <h2>Users</h2>
  	  <table class="table">
  	  	<thead>
	  	  <tr>
	  	    <th>image</th>
	  	    <th>name</th>
	  	    <th></th>
	  	  </tr>
	  	</thead>
	  	<tbody>
	  	  <% @users.each do |user| %>
		  	  <tr>
		  	  	<td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></td>
		  	  	<td><%= user.name %></td>
		  	  	<td><%= link_to 'show', user_path(user.id) %></td>
		  	  </tr>
	  	  <% end %>
	  	 </tbody>
	  </table>
  	</div>
  </div>
</div>