<div class="container">
  <p><%= notice %></p>
  <div class="row">
  	<div class="col-lg-offset-3 col-lg-6">
	  <h1>Welcome to <span class="glyphicon glyphicon-book"></span>Bookers!</h1>

      <%= link_to "log in", new_user_session_path, class:"btn btn-info btn-block" %><br>

	  <%= link_to "sign up", new_user_registration_path, class:"btn btn-success btn-block" %>
	</div>
  </div>
</div>
